.allCards{
    margin: 20px;
    align-items: center;
    
}

.allHandlers{
    display: flex;
}

.allHandlers>button{
    width: 1.5rem;
    height: 1.5rem;
    gap: 3rem;
}

.allHandlers>h5{
    margin-top: 0px;
}

.minus{
    margin-right: 10px; 
}

.plus{
    margin-left: 10px;
}

.iconStyling{
    margin-left: 30%;
    margin-bottom: 10%;
}